.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-inset {
  padding: 2vw;
}

.align-flex-start {
  align-items: flex-start;
}

.btn-transparent {
  background: none;
  border: none;
  border-radius: var(--c);
  margin: 0;
  padding: 0;
  align-items: center;
}
.round {
  border-radius: var(--c);
}

.flex {
  display: flex;
  align-items: stretch;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
  text-align: center;
}
.end {
  align-items: baseline;
}
.stretch {
  align-items: stretch;
}
.overflow-x {
  overflow-x: auto;
  overflow-y: hidden;
}
.m-2 {
  padding: 2ex;
}
.m-1 {
  padding: 1ex;
}
.mt-2 {
  margin-top: 2ex;
}
.mb-2 {
  margin-bottom: 2ex;
}
.ms-2 {
  margin-left: 2ex;
}
.me-2 {
  margin-right: 2ex;
}

.mt-1 {
  margin-top: 1ex;
}
.mb-1 {
  margin-bottom: 1ex;
}
.ms-1 {
  margin-left: 1ex;
}
.me-1 {
  margin-right: 1ex;
}

.p-1 {
  padding: 0 2ex;
}
.c-yellow {
  color: var(--earth-yellow);
}
.c-iris {
  color: var(--iris);
}
.c-blue {
  color: var(--tiffany-blue);
}
.c-white {
  color: var(--snow);
}
.c-red {
  color: rgb(237, 65, 65);
}
.img-div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  aspect-ratio: 1/1;
}
a:hover {
  color: var(--tiffany-blue);
}
span {
  font-size: 2ex;
}
img {
  width: 100px;
  aspect-ratio: 1/1;
}

input {
  border: 1px solid gray;
  padding: 1.5ex;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
}

div {
  box-sizing: border-box;
  width: 100%;
}

button {
  font-family: "Lexend", sans-serif;
  padding: 1.5ex;
  border-radius: 10px;
  background-color: var(--snow);
  border: 1px solid black;
  text-align: center;
}

button:hover,
.btn:hover {
  cursor: pointer;
}

select {
  border: 1px solid gray;
  padding: 1ex;
  border-radius: var(--c);
}

.input-wrap {
  display: flex;
  align-items: center;
  gap: 1ex;
  border: 1px solid gray;
  border-radius: 10px;
}
.input-hidden {
  border: none;
}
.icon {
  width: 15px;
}
.icon:hover {
  cursor: pointer;
}
.slider-wrapper {
  position: relative;
  height: 1.5em;
}

.slider-track {
  position: absolute;
  height: 5px;
  background-color: rgb(
    229,
    229,
    229
  ); /* Light gray background for the unused track */
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  z-index: 1;
}

.slider-runnable-track {
  position: absolute;
  height: 5px;
  background-color: var(--iris); /* The track color for the selected range */
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  z-index: 2;
}

input[type="range"] {
  border: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  pointer-events: none;
  z-index: 3;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--iris);
  height: 1.1em;
  width: 1.1em;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  z-index: 4;
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--iris);
  height: 1.1em;
  width: 1.1em;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.empty {
  width: 100%;
  height: 45vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  font-size: 6ex;
  text-align: center;
  align-content: center;
  padding: 20%;
  box-sizing: border-box;
}
.right {
  justify-content: end;
}
.align-right {
  align-items: end;
}

.old-text {
  color: rgb(199, 199, 199);
  text-decoration: line-through;
}
.new-text {
  color: var(--earth-yellow);
}

.mobile-hidden {
  display: block;
}

@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}
