:root {
  --r: 20px;
  --c: 100px;
}
.banner {
  height: 500px;
  width: calc(100vw - 4vw);
  margin: 0 2vw;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
  background-position: bottom;
  padding-bottom: 40px;
  border-radius: var(--r);
  justify-content: center;
}
.banner h1 {
  color: var(--snow);
  font-size: 6ex;
}

.banner form {
  background-color: var(--iris);
  border-radius: var(--c);
  display: flex;
  align-items: center;
}
.banner input {
  width: 30vw;
  min-width: 200px;
  border-radius: var(--c);
  padding: 2ex 3ex;
  font-size: 2.2ex;
  border: none;
}

.banner i {
  color: var(--snow);
  font-size: 4ex;
  text-align: center;
}
.banner button {
  padding: 0 2.5ex;
}
.home-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vw 2vw 0 2vw;
  width: calc(100vw - 4vw);
  padding: 2vw;
  border-radius: var(--r);
  box-shadow: 0 0 10px 2px rgba(226, 226, 226, 0.808);
}
.home-box .card {
  margin: 2vw 2vw;
  justify-content: flex-start;
}

#home-categories .card img {
  border-radius: var(--c);
  margin-bottom: 2vw;
}

#home-categories .card {
  text-align: center;
  height: calc((100vw - 20vw) / 5 * 3/4); 
}
.home-box button {
  font-size: 5ex;
  font-weight: lighter;
  color:rgba(190, 190, 190, 0.808)
}

#home-popular .card{
  width: calc((100vw * 0.9) / 5);
  aspect-ratio: 3/4.7;
  border-radius: var(--r);
  justify-content: space-between;
  /* justify-content: flex-start; */
  /* text-align: center; */
}
#home-popular .card img{
  width: 100%;
  border-radius: var(--r);
}

.home-box h1, .banner h1{
  font-weight: bold;
}