:root {
  --r: 20px;
  --c: 100px;
}
.banner {
  height: 500px;
  width: calc(100vw - 4vw);
  margin: 0 2vw 3vw 2vw;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
  background-position: bottom;
  padding-top: 150px;
  padding-bottom: 2rem;
  border-radius: var(--r);
}
.banner h1 {
  color: var(--snow);
  font-size: 6ex;
}
#search-item {
  background-color: white;
  border-radius: var(--r);
  width: 400px;
  max-width: 90%;
}
#search-bar{
  border-radius: var(--r);
  display: flex;
  align-items: center;
}
#search-bar input {
  border-radius: var(--r);
  padding: 2ex;
  font-size: 2ex;
  border: none;
}

#search-bar i {
  color: gray;
  font-size: 4ex;
  text-align: center;
}
#search-bar button {
  padding: 0 2.5ex;
}
#search-hint ul {
  display: flex;
  flex-direction: column;
}
#search-hint li {
  padding: 1ex 2ex;
}
#search-hint li:hover{
  color: var(--tiffany-blue);
}
.home-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2vw 3vw 2vw;
  width: calc(100vw - 4vw);
  padding: 2vw;
  border-radius: var(--r);
  box-shadow: 0 0 10px 2px rgba(226, 226, 226, 0.808);
}
.home-box .card {
  margin: 2vw 2vw;
  justify-content: flex-start;
  flex-shrink: 0;
}

#home-categories .card img {
  border-radius: var(--c);
  margin-bottom: 2vw;
}
.home-box .flex {
  gap: 2ex;
}
#home-categories .card {
  text-align: center;
  width: calc((100vw - 20vw) / 5 * 3/4); 
}
.home-box button {
  font-size: 5ex;
  font-weight: lighter;
  color:rgba(190, 190, 190, 0.808)
}
#home-popular .card{
  width: calc((100vw * 0.9) / 5);
  /* aspect-ratio: 3/4.7; */
  border-radius: var(--r);
  justify-content: space-between;
  /* justify-content: flex-start; */
  /* text-align: center; */
}
#home-popular .card img{
  width: 100%;
  border-radius: var(--r);
}
.home-box h1, .banner h1{
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 4ex;
    align-self: center;
  }
  .search-item {
    width: 80vw;
  }
}
@media screen and (max-width: 480px) {
  .home-box h1 {
    font-size: 2.4ex;
    align-self: center;
  }
  
  .home-box .card {
    width:90% !important;
    aspect-ratio: auto !important;
    padding: 2vw;
    flex-shrink: 0;
  }

  .home-box .card img {
    width: 90%; 
    border-radius: var(--r) !important;
  }
}