.item-img {
    width: 30vw;
    border-radius: var(--r);
}
.item-display {
    display: flex;
    padding: 2vw;
}

.item-display a{
    color: var(--iris);
}

.item-display a:hover{
    color: var(--tiffany-blue);
}

.item-display h1 {
    font-weight: bold;
}

.item-display p {
    width: 80%;
}

.item-display h2 {
    font-size: 3ex;
}

.item-display .old-text {
    color: rgb(199, 199, 199);
    text-decoration: line-through;
}
.item-display .new-text {
    color: var(--earth-yellow);
}

.item-display #item-amount {
    width: 50px;
}

.item-display #add-cart-btn {
    background-color: var(--earth-yellow);
    border:none;
    font-size: 2ex;
    width: 200px;
}
#similar-display .flex {
    flex-wrap: wrap;
    justify-content: center;
}

#similar-display h2{
    font-size: 4ex;
    font-weight: bold;
}

#similar-display .card {
    width: 200px;
    /* aspect-ratio: 3/4; */
    margin: 2vw;
}
#similar-display .card img {
    border-radius: var(--r);
    width: 100%;
}

@media screen and (max-width: 768px) {
    .item-display p {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .item-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item-display img {
        width: 100%;
        margin-bottom: 2ex;
    }

}

@media screen and (max-width: 460px) {
    #similar-item .flex{
        display: grid;
        grid-template-columns: auto auto;
    }
    #similar-display .card {
        width: 400px;
    }
}