ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
}


.info {
    display: flex;
    justify-content: end;
    align-items: center;
}

.hnav {
    display: flex;
    align-items: center;
}
.hnav li {
    margin-right: 2vw;
}
.hnav li a:hover, .info a:hover{
    color: var(--tiffany-blue);
    font-weight: bolder;
}

.hnav .selected, .vnav .selected {
    color: var(--earth-yellow);
    font-weight: bold;
}

.sidebar {
    position: sticky;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.vnav {
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    min-height: 100vh;
}
.info a, .info span {
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
}
.sidebar #add-btn {
    width: 100%;
}
.sidebar #add-btn button{
    width: 100%;
    background-color: var(--earth-yellow);
    border: none;
    font-size: 2ex;
    font-weight: bold;
    margin-bottom: 2ex;
}

.sidebar #filter-categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar #filter-categories button {
    border-radius: 0;
    border: none;
    width: 100%;
    text-align: left;
}
.sidebar #filter-categories .btn-active {
    background-color: none;
    color: black;
    font-weight: bold;
    border-left: 3px solid var(--tiffany-blue);
}