ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
}

.collapse-btn {
    border: none;
    font-size: 3ex;
    padding: 0;
    margin: 0;
}

.info {
    display: flex;
    justify-content: end;
    align-items: center;
}

.hnav {
    display: flex;
    align-items: center;
}
.hnav li {
    margin-right: 2vw;
}
.hnav li a:hover, .info a:hover{
    color: var(--tiffany-blue);
    font-weight: bolder;
}

.hnav .selected {
    color: var(--earth-yellow);
    font-weight: bold;
}

.vnav {
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    min-height: 100vh;
}
.info a, .info span {
    margin-left: 2vw;
    display: flex;
    align-items: center;
}




/* Style for the collapsed menu */
.dynamic-nav ul.collapsed {
    display: none ; 
}

.dynamic-nav ul {
    display: block ; 
}


@media screen and (max-width: 768px) {
    .mobile-hidden {
        display: none !important;
    } 
    .dynamic-nav .collapsed {
        display: flex; 
        position: absolute !important;
        flex-direction: column;
        align-items: start;
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: var(--snow); 
        z-index: 100; 
    }

    .collapsed li {
        padding: 2ex;
    }
    .collapse-btn {
        display: block; 
    }
}

@media screen and (max-width: 480px) {
    
}